{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "endOfLine": "auto",
  "singleQuote": true,
  "jsxBracketSameLine": false,
  "trailingComma": "none",
  "htmlWhitespaceSensitivity": "ignore"
}
